body{
  background: #ceff7f; 
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}


.column{
  display: inline-block;
  column-width: 30%;
  float: left;
  padding: 1em;
}

img{
  border-radius: 5em;
  display: table-column;
}

p{
  font-size: small;
}

.style1{
  font-size: medium;
}

.style2{
  font-size: large;
}

.box{
  display: inline-block;
  width: 50%;
  height: auto;
  padding: 12px;
  margin: auto;
  border: solid;
  border-color: blue;
  text-align: center;
}